.menu-cards {
  background-color: #dc0a2d;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  height: 100%;
  width: 100%;
  padding-left: 2.5%;
}
.cards {
  background-color: ghostwhite;
  width: 200px;
  height: 230px;
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.cards:hover {
  transform: scale(1.05) translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.cards img {
  width: 150px;
}
.nome-pokemon {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
}
ngb-pagination {
  display: flex;
  justify-content: center;
  color: #000;
}
.page-link {
  color: #000;
}

/* Modal Custom Styles */
.pokemon-modal {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
}
.btn-close {
  position: absolute;
  left: 40px;
}
.pokemon-header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.pokemon-img {
  width: 200px;
  height: 200px;
}

.pokemon-info {
  margin-left: 20px;
  color: white;
}

.pokemon-id {
  font-size: 18px;
  margin-bottom: 5px;
}

.pokemon-types {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pokemon-type {
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: 14px;
}

.pokemon-details {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 10px;
}

.pokemon-attributes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: 10px;
  font-weight: 500;
}

.pokemon-description {
  font-size: 16px;
  color: #555;
}

.pokemon-stats {
  margin-top: 30px;
}

.stat-bar {
  margin-bottom: 10px;
}

.progress {
  height: 10px;
  background-color: #ddd;
  border-radius: 10px;
  margin: 10px;
}

.progress-bar {
  border-radius: 10px;
  height: 100%;

}

/* responsividade */

