<div class="menu-cards" *ngIf="pokemons">
  <div class="cards" *ngFor="let pokemon of pokemonPesquisa" (click)="openModal(modalContent,pokemon)">
    <p>{{ pokemon.id }}</p>
    <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}">
    <p class="nome-pokemon">{{ pokemon.name }}</p>
  </div>
  <ngb-pagination class="pagination" [(page)]="page" [collectionSize]="totalPokemons" [pageSize]="pageSize"
    (pageChange)="onPageChange($event)">
  </ngb-pagination>

</div>

<!-- Definição do modal -->
<ng-template #modalContent let-modal>
  <div class="pokemon-modal" [style.background-color]="corPokemon">
    <div class="modal_header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="pokemon-header">
        <img [src]="pokemonModal.sprites.front_default" alt="{{ pokemonModal.name }}" class="pokemon-img">
        <div class="pokemon-info">
          <h6 class="pokemon-id">#{{ pokemonModal.id }}</h6>
          <h2>{{ pokemonModal.name }}</h2>

        </div>
      </div>
    </div>
    <div class="pokemon-details">
      <h4>About</h4>
      <div class="pokemon-types">
        <span *ngFor="let type of pokemonModal.types" class="pokemon-type" [style.background-color]="corPokemon">{{ type.type.name }}</span>
      </div>
      <div class="pokemon-attributes">
        <span>Weight: {{ pokemonModal.weight }} kg</span>
        <span>Height: {{ pokemonModal.height }} m</span>
        <span>Moves: {{ pokemonModal.abilities[0]?.ability.name }}</span>
      </div>
      <p class="pokemon-description">
        {{ pokemonModal.description }}
      </p>

      <div class="pokemon-stats">
        <h4>Base Stats</h4>
        <div class="stat-bar" *ngFor="let stat of pokemonModal.stats">
          <span>{{ stat.stat.name }}: {{ stat.base_stat }}</span>
          <div class="progress">
            <div class="progress-bar" [style.width.%]="stat.base_stat / 2" [style.background-color]="corPokemon"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
